
<div class="container">
  <form>
    <div class="form-group">
      <label for="firstName">Imię</label>
      <input type="firstName" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="Podaje imię">
    </div>
    <div class="form-group">
      <label for="lastName">Password</label>
      <input type="password" class="form-control" id="lastName" placeholder="Nazwisko">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Podaj email">
    </div>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Man">
        <label class="form-check-label" for="inlineRadio1">Mężczyzna</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Woman">
        <label class="form-check-label" for="inlineRadio2">Kobieta</label>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Opis</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class = "form-group">
      <label for="age">Wiek</label>
      <input class="form-control" type="number" id="age" name="age" value="16" checked>
    </div>
    <div class="form-group">
      <select class="custom-select" required>
        <option value="0" selected>kawaler/panna</option>
        <option value="1">Żonaty/Żonata</option>
        <option value="2">Wdowiec/Wdowa</option>
      </select>
      <div class="invalid-feedback">Example invalid custom select feedback</div>
    </div>
    <button type="reset" class="btn btn-primary">Wyczyść</button>
    <button type="submit" class="btn btn-primary">Wyślij</button>
  </form>
</div>
<div class="footer">
  <p>Copyrights © Mateusz Wilk | 2019</p>
</div>
<div class="scroll">
  <button class="btn btn-success">
    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
  </button>
</div>