/* You can add global styles to this file, and also import other style files */
.footer {
    text-align: center;
  }
  ul {
    display: inline;
  }
  li {
    display: inline;
  }
  .scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    width: 100%;
    font-size: 14px;
    background-color: rgb(165, 199, 230);
    
  }
  
  .container {
    margin-top: 50px;
  }
  
  .list-group-item {
    cursor: pointer;
  }
  
  .correct {
    background-color: #289a27;
  }
  
  .incorrect {
    background-color: #c41a21;
  }
  
  .buttons {
    padding: 10px 10px 10px 0;
  }
  .navbar {
    background-color: #382122;
    display: flex;
    align-items: center
  }
  